/*{
	margin: 0;
	padding: 0;
}*/
#inputBox{
	width:98%;
	height:100px;
	margin:8px;
}
#tweets{
	margin-top: 40px;
}
#tweetButton{
	background: #337AB7;
	border:none;
	padding:8px;
	color:white;
	border-radius:5px;
	margin:6px;
}
.tweet{
	box-sizing: border-box;
	padding: 10px;
	width: 300px; 
	border: 1px solid #ccc;
	margin-bottom: 10px;
	margin-left:10px;
}
.container{
	background: #E0E0E0;
	border-top: 5px solid black;
	padding:10px;
	text-align: center;
	width:100%;
}
.cheklist{
	background: #E0E0E0;
	padding: 10px 5px;
	margin-bottom: 14px;
}
.glyphicon{
	color:white;
	float: left;
}
.bote{
	float:right;
	color:black;
}

